<!DOCTYPE html>
<html>
<head>
    <title>Password Security Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Password Security Analyzer 🔐</h1>

    <form method="POST">
        <input type="text" name="password" placeholder="Enter password..." required>
        <button type="submit">Analyze</button>
    </form>

    {% if result %}
        <div class="result">
            <h2>Score: {{ result.score }}/6</h2>


            <div class="strength-bar">
    <div class="strength-fill {{ result.strength }}"></div>
</div>
            <p><strong>Crack Time:</strong> {{ result.crack_time }}</p>

            <h3>Suggestions:</h3>
            <ul>
                {% for item in result.feedback %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>


</body>
</html>